# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Test and archive output
*.xcresult
*.ipa
*.dSYM/
